Repository spring-projects/spring-integration, pull requests merged in 2020-10, with the labels that each got.

#3404 Fix MeterRegistry eager load
  spring-integration-core/src/main/java/org/springframework/integration/support/management/micrometer/MicrometerMetricsCaptor.java
  spring-integration-core/src/main/java/org/springframework/integration/support/management/micrometer/MicrometerMetricsCaptorRegistrar.java
  spring-integration-core/src/test/java/org/springframework/integration/support/management/IntegrationManagementConfigurerTests.java
Labels: backport 5.2.x, backport 5.3.x, in: core, type: bug

#3409 Get correct next execution date from the trigger
  spring-integration-core/src/main/java/org/springframework/integration/config/annotation/InboundChannelAdapterAnnotationPostProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/endpoint/AbstractPollingEndpoint.java
  spring-integration-core/src/test/java/org/springframework/integration/endpoint/ReactiveInboundChannelAdapterTests.java
Labels: in: core, type: bug

#3408 Gateway: Propagate Error to the errorChannel
  spring-integration-core/src/main/java/org/springframework/integration/gateway/MessagingGatewaySupport.java
  spring-integration-core/src/test/java/org/springframework/integration/gateway/AsyncGatewayTests.java
Labels: backport 5.2.x, backport 5.3.x, in: core, regression

#3412 Fix `@InChAdapter` for several supplier beans
  spring-integration-core/src/main/java/org/springframework/integration/config/annotation/InboundChannelAdapterAnnotationPostProcessor.java
  spring-integration-core/src/test/java/org/springframework/integration/endpoint/ReactiveInboundChannelAdapterTests.java
Labels: backport 5.1.x, backport 5.2.x, in: core, type: bug

#3413 GH-3410: Add UDP SocketCustomizer
  spring-integration-ip/src/main/java/org/springframework/integration/ip/config/IpAdapterParserUtils.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/config/UdpInboundChannelAdapterParser.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/config/UdpOutboundChannelAdapterParser.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/dsl/AbstractUdpOutboundChannelAdapterSpec.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/dsl/UdpInboundChannelAdapterSpec.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/dsl/package-info.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/udp/SocketCustomizer.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/udp/UnicastReceivingChannelAdapter.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/udp/UnicastSendingMessageHandler.java
  spring-integration-ip/src/main/resources/org/springframework/integration/ip/config/spring-integration-ip.xsd
  spring-integration-ip/src/test/java/org/springframework/integration/ip/config/ParserTests-context.xml
  spring-integration-ip/src/test/java/org/springframework/integration/ip/config/ParserUnitTests.java
  spring-integration-ip/src/test/java/org/springframework/integration/ip/dsl/IpIntegrationTests.java
  src/reference/asciidoc/ip.adoc
  src/reference/asciidoc/whats-new.adoc
Labels: backport 5.3.x, in: TCP/UDP, type: enhancement

#3415 Add Java DSL for R2DBC module
  build.gradle
  spring-integration-r2dbc/src/main/java/org/springframework/integration/r2dbc/dsl/R2dbc.java
  spring-integration-r2dbc/src/main/java/org/springframework/integration/r2dbc/dsl/R2dbcMessageHandlerSpec.java
  spring-integration-r2dbc/src/main/java/org/springframework/integration/r2dbc/dsl/R2dbcMessageSourceSpec.java
  spring-integration-r2dbc/src/main/java/org/springframework/integration/r2dbc/dsl/package-info.java
  spring-integration-r2dbc/src/main/java/org/springframework/integration/r2dbc/inbound/R2dbcMessageSource.java
  spring-integration-r2dbc/src/main/java/org/springframework/integration/r2dbc/inbound/package-info.java
  spring-integration-r2dbc/src/main/java/org/springframework/integration/r2dbc/outbound/R2dbcMessageHandler.java
  spring-integration-r2dbc/src/main/java/org/springframework/integration/r2dbc/outbound/package-info.java
  spring-integration-r2dbc/src/test/java/org/springframework/integration/r2dbc/dsl/R2dbcDslTests.java
  spring-integration-r2dbc/src/test/java/org/springframework/integration/r2dbc/entity/Person.java
Labels: in: dsl, type: enhancement
