Repository spring-projects/spring-integration, pull requests merged in 2021-11, with the labels that each got.

#3657 Add `toReactivePublisher(autoStartOnSubscribe)`
  spring-integration-core/src/main/java/org/springframework/integration/config/ConsumerEndpointFactoryBean.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/BaseIntegrationFlowDefinition.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/IntegrationFlowBuilder.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/PublisherIntegrationFlow.java
  spring-integration-core/src/test/java/org/springframework/integration/dsl/reactivestreams/ReactiveStreamsTests.java
  src/reference/asciidoc/reactive-streams.adoc
Labels: type: enhancement, in: core

#3669 Fix WebFluxMH for proper response handling
  spring-integration-webflux/src/main/java/org/springframework/integration/webflux/dsl/WebFluxMessageHandlerSpec.java
  spring-integration-webflux/src/main/java/org/springframework/integration/webflux/outbound/WebFluxRequestExecutingMessageHandler.java
  spring-integration-webflux/src/test/java/org/springframework/integration/webflux/outbound/WebFluxRequestExecutingMessageHandlerTests.java
Labels: type: bug, in: webflux, backport 5.4.x

#3671 Update RedisLockRegistry default capacity value
  spring-integration-redis/src/main/java/org/springframework/integration/redis/util/RedisLockRegistry.java
Labels: type: enhancement, in: redis

#3681 Remove `Disposables` abstraction
  spring-integration-core/src/main/java/org/springframework/integration/config/annotation/AbstractMethodAnnotationPostProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/config/annotation/Disposables.java
  spring-integration-core/src/main/java/org/springframework/integration/config/annotation/InboundChannelAdapterAnnotationPostProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/config/annotation/MessagingAnnotationPostProcessor.java
  spring-integration-core/src/test/java/org/springframework/integration/config/annotation/MessagingAnnotationPostProcessorChannelCreationTests.java
Labels: in: core, type: refactoring
