Repository spring-projects/spring-integration, pull requests merged in 2021-04, with the labels that each got.

#3539 Rename master branch to main
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-build-workflow.yml
  CONTRIBUTING.adoc
  README.md
  src/reference/asciidoc/barrier.adoc
  src/reference/asciidoc/changes-1.0-2.0.adoc
  src/reference/asciidoc/changes-2.0-2.1.adoc
  src/reference/asciidoc/changes-3.0-4.0.adoc
  src/reference/asciidoc/changes-5.0-5.1.adoc
  src/reference/asciidoc/codec.adoc
  src/reference/asciidoc/dsl.adoc
  src/reference/asciidoc/endpoint.adoc
  src/reference/asciidoc/ftp.adoc
  src/reference/asciidoc/gateway.adoc
  src/reference/asciidoc/http.adoc
  src/reference/asciidoc/ip.adoc
  src/reference/asciidoc/jdbc.adoc
  src/reference/asciidoc/jms.adoc
  src/reference/asciidoc/jpa.adoc
  src/reference/asciidoc/metrics.adoc
  src/reference/asciidoc/overview.adoc
  src/reference/asciidoc/reactive-streams.adoc
  src/reference/asciidoc/samples.adoc
  src/reference/asciidoc/sftp.adoc
  src/reference/asciidoc/shutdown.adoc
  src/reference/asciidoc/spel.adoc
Labels: in: build, type: documentation

#3540 Properly mention Apache Kafka trademark in docs
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/channel/AbstractKafkaChannel.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/channel/PollableKafkaChannel.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/channel/PublishSubscribeKafkaChannel.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/channel/SubscribableKafkaChannel.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/channel/package-info.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/config/xml/KafkaChannelParser.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/config/xml/KafkaNamespaceHandler.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/config/xml/package-info.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/AbstractKafkaChannelSpec.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/Kafka.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/KafkaInboundChannelAdapterSpec.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/KafkaPointToPointChannelSpec.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/KafkaPublishSubscribeChannelSpec.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/package-info.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/inbound/KafkaMessageSource.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/inbound/package-info.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/outbound/KafkaProducerMessageHandler.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/outbound/package-info.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/package-info.java
  spring-integration-kafka/src/main/resources/org/springframework/integration/kafka/config/spring-integration-kafka.xsd
  src/reference/asciidoc/changes-5.3-5.4.adoc
  src/reference/asciidoc/kafka.adoc
  src/reference/asciidoc/polling-consumer.adoc
Labels: type: documentation

#3543 Revise retry for `IntegrationReactiveUtils`
  spring-integration-core/src/main/java/org/springframework/integration/util/IntegrationReactiveUtils.java
  spring-integration-core/src/test/java/org/springframework/integration/channel/IntegrationReactiveUtilsTests.java
Labels: backport 5.4.x, in: core, type: bug

#3544 Improve IMAP IDLE tests
  spring-integration-mail/src/test/java/org/springframework/integration/mail/ImapMailReceiverTests.java
  spring-integration-test-support/src/main/java/org/springframework/integration/test/mail/TestMailServer.java
Labels: in: mail, type: enhancement

#3545 Fix compatibility with Java 8 for ByteBuffer
  spring-integration-core/src/main/java/org/springframework/integration/support/json/EmbeddedJsonHeadersMessageMapper.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/tcp/connection/TcpNioSSLConnection.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/udp/DatagramPacketMessageMapper.java
Labels: in: TCP/UDP, in: core, regression

#3550 Revise MessageHistory configuration
  spring-integration-core/src/main/java/org/springframework/integration/config/EnableMessageHistory.java
  spring-integration-core/src/main/java/org/springframework/integration/config/MessageHistoryRegistrar.java
  spring-integration-core/src/main/java/org/springframework/integration/config/PublisherRegistrar.java
  spring-integration-core/src/main/java/org/springframework/integration/history/MessageHistoryConfigurer.java
  spring-integration-core/src/test/java/org/springframework/integration/configuration/EnableIntegrationTests-context.xml
  spring-integration-core/src/test/java/org/springframework/integration/configuration/EnableIntegrationTests.java
  spring-integration-core/src/test/java/org/springframework/integration/history/MessageHistoryIntegrationTests.java
  src/reference/asciidoc/message-history.adoc
Labels: in: core, type: refactoring

#3551 Make `@IntegrationConverter` Native compatible
  spring-integration-core/src/main/java/org/springframework/integration/config/ConverterRegistrar.java
  spring-integration-core/src/main/java/org/springframework/integration/config/CustomConversionServiceFactoryBean.java
  spring-integration-core/src/main/java/org/springframework/integration/config/DefaultConfiguringBeanFactoryPostProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/config/IntegrationConfigUtils.java
  spring-integration-core/src/main/java/org/springframework/integration/config/IntegrationConverterInitializer.java
  spring-integration-core/src/main/java/org/springframework/integration/config/IntegrationRegistrar.java
  spring-integration-core/src/main/java/org/springframework/integration/config/xml/ChainParser.java
  spring-integration-core/src/main/java/org/springframework/integration/config/xml/ConverterParser.java
  spring-integration-core/src/main/java/org/springframework/integration/config/xml/DefaultInboundChannelAdapterParser.java
  spring-integration-core/src/main/java/org/springframework/integration/config/xml/IntegrationNamespaceUtils.java
  spring-integration-core/src/main/java/org/springframework/integration/context/IntegrationContextUtils.java
  spring-integration-core/src/main/java/org/springframework/integration/graph/IntegrationGraphServer.java
  spring-integration-core/src/main/java/org/springframework/integration/json/JsonNodeWrapperToJsonNodeConverter.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/Jackson2JsonObjectMapper.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/JacksonPresent.java
  spring-integration-core/src/main/java/org/springframework/integration/support/management/micrometer/MicrometerMetricsCaptorRegistrar.java
  spring-integration-core/src/main/java/org/springframework/integration/support/utils/IntegrationUtils.java
  spring-integration-core/src/test/java/org/springframework/integration/transformer/MapToObjectTransformerTests.java
  spring-integration-http/src/main/java/org/springframework/integration/http/config/HttpContextUtils.java
  spring-integration-http/src/main/java/org/springframework/integration/http/inbound/BaseHttpInboundEndpoint.java
  spring-integration-jmx/src/main/java/org/springframework/integration/monitor/IntegrationMBeanExporter.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/config/WebSocketIntegrationConfigurationInitializer.java
  spring-integration-websocket/src/test/java/org/springframework/integration/websocket/dsl/WebSocketDslTests.java
  spring-integration-xml/src/main/java/org/springframework/integration/xml/transformer/UnmarshallingTransformer.java
Labels: in: core, type: refactoring

#3552 Fix breaking change for PersistentFileListFilter
  spring-integration-file/src/main/java/org/springframework/integration/file/filters/AbstractPersistentAcceptOnceFileListFilter.java
  spring-integration-file/src/test/java/org/springframework/integration/file/filters/PersistentAcceptOnceFileListFilterTests.java
  spring-integration-file/src/test/java/org/springframework/integration/file/remote/StreamingInboundTests.java
Labels: backport 5.3.x, backport 5.4.x, in: file, regression

#3553 Fix ZeroMQ components initialization
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/channel/ZeroMqChannel.java
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/outbound/ZeroMqMessageHandler.java
  spring-integration-zeromq/src/test/java/org/springframework/integration/zeromq/channel/ZeroMqChannelTests.java
  spring-integration-zeromq/src/test/java/org/springframework/integration/zeromq/inbound/ZeroMqMessageProducerTests.java
  spring-integration-zeromq/src/test/java/org/springframework/integration/zeromq/outbound/ZeroMqMessageHandlerTests.java
Labels: backport 5.4.x, in: zeromq, type: bug
