Repository spring-projects/spring-integration, pull requests merged in 2021-05, with the labels that each got.

#3565 INT-2436: JMS channel: bean name for container
  build.gradle
  spring-integration-jms/src/main/java/org/springframework/integration/jms/config/JmsChannelFactoryBean.java
  spring-integration-jms/src/test/java/org/springframework/integration/jms/config/JmsChannelParserTests.java
Labels: in: jms, type: enhancement

#3566 Set FTPSClient property once
  spring-integration-ftp/src/main/java/org/springframework/integration/ftp/session/DefaultFtpsSessionFactory.java
Labels: in: ftp, type: enhancement

#3569 GH-3509: Fix regression in TcpNetServerConnectionFactory
  spring-integration-ip/src/main/java/org/springframework/integration/ip/tcp/connection/TcpNetServerConnectionFactory.java
  spring-integration-ip/src/test/java/org/springframework/integration/ip/tcp/TcpSendingMessageHandlerTests.java
Labels: backport 5.4.x, in: TCP/UDP, type: bug
