Repository spring-projects/spring-integration, pull requests merged in 2022-09, with the labels that each got.

#3880 Rename CONDITION column to GROUP_CONDITION
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/JdbcMessageStore.java
  spring-integration-jdbc/src/main/resources/org/springframework/integration/jdbc/schema-db2.sql
  spring-integration-jdbc/src/main/resources/org/springframework/integration/jdbc/schema-derby.sql
  spring-integration-jdbc/src/main/resources/org/springframework/integration/jdbc/schema-h2.sql
  spring-integration-jdbc/src/main/resources/org/springframework/integration/jdbc/schema-hsqldb.sql
  spring-integration-jdbc/src/main/resources/org/springframework/integration/jdbc/schema-mysql.sql
  spring-integration-jdbc/src/main/resources/org/springframework/integration/jdbc/schema-oracle.sql
  spring-integration-jdbc/src/main/resources/org/springframework/integration/jdbc/schema-postgresql.sql
  spring-integration-jdbc/src/main/resources/org/springframework/integration/jdbc/schema-sqlserver.sql
  spring-integration-jdbc/src/main/resources/org/springframework/integration/jdbc/schema-sybase.sql
Labels: type: refactoring, in: jdbc

#3881 Rework infra logic onto IntegrationProperties
  spring-integration-amqp/src/main/java/org/springframework/integration/amqp/channel/AbstractSubscribableAmqpChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/DirectChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/ExecutorChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/PublishSubscribeChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/config/DefaultConfiguringBeanFactoryPostProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/context/IntegrationContextUtils.java
  spring-integration-core/src/main/java/org/springframework/integration/context/IntegrationObjectSupport.java
  spring-integration-core/src/main/java/org/springframework/integration/context/IntegrationProperties.java
  spring-integration-core/src/main/java/org/springframework/integration/core/MessagingTemplate.java
  spring-integration-core/src/main/java/org/springframework/integration/endpoint/AbstractEndpoint.java
  spring-integration-core/src/test/java/org/springframework/integration/context/IntegrationContextTests.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/SubscribableJmsChannel.java
  spring-integration-redis/src/main/java/org/springframework/integration/redis/channel/SubscribableRedisChannel.java
  src/reference/asciidoc/whats-new.adoc
Labels: type: enhancement, in: core

#3882 Improve AOT for some infrastructure
  spring-integration-core/src/main/java/org/springframework/integration/aot/CoreRuntimeHints.java
  spring-integration-core/src/main/java/org/springframework/integration/aot/IntegrationBeanRegistrationExcludeFilter.java
  spring-integration-core/src/main/java/org/springframework/integration/config/DefaultConfiguringBeanFactoryPostProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/config/IntegrationConfigurationBeanFactoryPostProcessor.java
  spring-integration-core/src/main/resources/META-INF/spring/aot.factories
Labels: type: enhancement, in: core

#3887 Add Apache Camel support
  build.gradle
  spring-integration-camel/src/main/java/org/springframework/integration/camel/outbound/CamelMessageHandler.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/outbound/package-info.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/support/CamelHeaderMapper.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/support/package-info.java
  spring-integration-camel/src/test/java/org/springframework/integration/camel/outbound/CamelMessageHandlerTests.java
  spring-integration-camel/src/test/resources/log4j2-test.xml
  spring-integration-core/src/main/java/org/springframework/integration/handler/AbstractMessageProducingHandler.java
Labels: type: enhancement

#3879 Add some infrastructure for Observation
  build.gradle
  spring-integration-core/src/main/java/org/springframework/integration/config/IntegrationManagementConfiguration.java
  spring-integration-core/src/main/java/org/springframework/integration/config/IntegrationManagementConfigurer.java
  spring-integration-core/src/main/java/org/springframework/integration/handler/AbstractMessageHandler.java
  spring-integration-core/src/main/java/org/springframework/integration/handler/MessageHandlerSupport.java
  spring-integration-core/src/main/java/org/springframework/integration/support/management/IntegrationManagement.java
  spring-integration-core/src/main/java/org/springframework/integration/support/management/observation/DefaultMessageReceiverObservationConvention.java
  spring-integration-core/src/main/java/org/springframework/integration/support/management/observation/IntegrationObservation.java
  spring-integration-core/src/main/java/org/springframework/integration/support/management/observation/MessageReceiverContext.java
  spring-integration-core/src/main/java/org/springframework/integration/support/management/observation/MessageReceiverObservationConvention.java
  spring-integration-core/src/main/java/org/springframework/integration/support/management/observation/MessageSenderContext.java
  spring-integration-core/src/test/java/org/springframework/integration/channel/interceptor/ObservationPropagationChannelInterceptorTests.java
  spring-integration-core/src/test/java/org/springframework/integration/support/management/observation/IntegrationObservabilityZipkinTests.java
Labels: type: enhancement, in: core

#3891 GH-3661: Fix Javadocs for RetryingMLA
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/KafkaInboundGatewaySpec.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/KafkaMessageDrivenChannelAdapterSpec.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/inbound/KafkaInboundGateway.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/inbound/KafkaMessageDrivenChannelAdapter.java
Labels: in: Kafka, type: documentation
