Repository spring-projects/spring-integration, pull requests merged in 2022-11, with the labels that each got.

#3934 Add Java DSL for GraphQL
  spring-integration-graphql/src/main/java/org/springframework/integration/graphql/dsl/GraphQl.java
  spring-integration-graphql/src/main/java/org/springframework/integration/graphql/dsl/GraphQlMessageHandlerSpec.java
  spring-integration-graphql/src/main/java/org/springframework/integration/graphql/outbound/GraphQlMessageHandler.java
  spring-integration-graphql/src/test/java/org/springframework/integration/graphql/outbound/GraphQlMessageHandlerTests.java
  src/reference/asciidoc/graphql.adoc
Labels: type: enhancement, in: dsl

#3935 Fix gateway proxy for generic interface in XML
  spring-integration-core/src/main/java/org/springframework/integration/config/xml/GatewayParser.java
  spring-integration-core/src/test/java/org/springframework/integration/config/xml/GatewayParserTests.java
  spring-integration-core/src/test/java/org/springframework/integration/gateway/GatewayXmlAndAnnotationTests-context.xml
  spring-integration-core/src/test/java/org/springframework/integration/gateway/GatewayXmlAndAnnotationTests.java
Labels: regression, in: core

#3937 Add Java DSL for Camel module and docs
  build.gradle
  spring-integration-camel/src/main/java/org/springframework/integration/camel/dsl/Camel.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/dsl/CamelMessageHandlerSpec.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/dsl/package-info.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/outbound/CamelMessageHandler.java
  spring-integration-camel/src/test/java/org/springframework/integration/camel/dsl/CamelDslTests.java
  spring-integration-camel/src/test/java/org/springframework/integration/camel/outbound/CamelMessageHandlerTests.java
  src/reference/asciidoc/camel.adoc
  src/reference/asciidoc/endpoint-summary.adoc
  src/reference/asciidoc/index-single.adoc
  src/reference/asciidoc/index.adoc
  src/reference/asciidoc/whats-new.adoc
Labels: type: enhancement, in: dsl

#3940 Add BOM file into distZip with other libs
  build.gradle
Labels: type: enhancement, in: build

#3951 Expose more reflection hints
  spring-integration-core/src/main/java/org/springframework/integration/aot/CoreRuntimeHints.java
  spring-integration-core/src/main/java/org/springframework/integration/core/Pausable.java
  spring-integration-http/src/main/java/org/springframework/integration/http/aot/HttpRuntimeHints.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/aot/KafkaRuntimeHints.java
  spring-integration-kafka/src/main/resources/META-INF/spring/aot.factories
  spring-integration-rsocket/src/main/java/org/springframework/integration/rsocket/ServerRSocketMessageHandler.java
  src/reference/asciidoc/index-single.adoc
  src/reference/asciidoc/index.adoc
  src/reference/asciidoc/native-aot.adoc
  src/reference/asciidoc/whats-new.adoc
Labels: type: enhancement, in: core, in: Kafka, type: documentation

#3952 Fix documentation in kafka.adoc
  src/reference/asciidoc/kafka.adoc
Labels: type: documentation
