Repository spring-projects/spring-integration, pull requests merged in 2022-07, with the labels that each got.

#3835 Remove unnecessary auto-boxing.
  spring-integration-core/src/main/java/org/springframework/integration/channel/DirectChannel.java
Labels: type: enhancement, in: core

#3837 Fix IntegrationMBeanExporter logic for endpoints
  spring-integration-jmx/src/main/java/org/springframework/integration/monitor/IntegrationMBeanExporter.java
  spring-integration-jmx/src/test/java/org/springframework/integration/monitor/ScatterGatherHandlerIntegrationTests.java
Labels: type: bug, backport 5.5.x, in: jmx

#3864 Fix SIK module for latest SK compatibility
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/channel/DispatcherHasNoSubscribersTests.java
  spring-integration-core/src/main/java/org/springframework/integration/handler/AbstractMessageProducingHandler.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/outbound/KafkaProducerMessageHandler.java
  spring-integration-kafka/src/test/java/org/springframework/integration/kafka/outbound/KafkaProducerMessageHandlerTests.java
Labels: type: enhancement, in: core, in: Kafka

#3865 Fix deprecations around ListenableFuture
  spring-integration-core/src/main/java/org/springframework/integration/gateway/GatewayProxyFactoryBean.java
  spring-integration-core/src/main/java/org/springframework/integration/handler/AbstractMessageProducingHandler.java
  spring-integration-core/src/test/java/org/springframework/integration/config/annotation/AnnotatedEndpointActivationTests.java
  spring-integration-core/src/test/java/org/springframework/integration/config/xml/GatewayParserTests.java
  spring-integration-core/src/test/java/org/springframework/integration/gateway/AsyncGatewayTests.java
  spring-integration-core/src/test/java/org/springframework/integration/gateway/GatewayInterfaceTests.java
  spring-integration-core/src/test/java/org/springframework/integration/handler/AsyncHandlerTests.java
  spring-integration-core/src/test/java/org/springframework/integration/handler/ServiceActivatorDefaultFrameworkMethodTests.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/tcp/TcpOutboundGateway.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/JmsOutboundGateway.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/KafkaMessageListenerContainerSpec.java
  spring-integration-kafka/src/test/java/org/springframework/integration/kafka/outbound/KafkaProducerMessageHandlerTests.java
  spring-integration-redis/src/main/java/org/springframework/integration/redis/util/RedisLockRegistry.java
  spring-integration-stomp/src/main/java/org/springframework/integration/stomp/AbstractStompSessionManager.java
  spring-integration-stomp/src/main/java/org/springframework/integration/stomp/ReactorNettyTcpStompSessionManager.java
  spring-integration-stomp/src/main/java/org/springframework/integration/stomp/WebSocketStompSessionManager.java
  spring-integration-stomp/src/test/java/org/springframework/integration/stomp/StompSessionManagerTests.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/ClientWebSocketContainer.java
  spring-integration-websocket/src/test/java/org/springframework/integration/websocket/ClientWebSocketContainerTests.java
  spring-integration-ws/src/test/java/org/springframework/integration/ws/SimpleWebServiceOutboundGatewayTests.java
  src/reference/asciidoc/gateway.adoc
  src/reference/asciidoc/service-activator.adoc
  src/reference/asciidoc/whats-new.adoc
Labels: type: enhancement, in: core, in: Kafka, in: websocket
