Repository spring-projects/spring-integration, pull requests merged in 2023-07, with the labels that each got.

#8666 Improve `split()` DSL
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/support/BoundRabbitChannelAdviceIntegrationTests.java
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/support/BoundRabbitChannelAdviceTests.java
  spring-integration-core/src/main/java/org/springframework/integration/JavaUtils.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/BarrierSpec.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/BaseIntegrationFlowDefinition.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/ConsumerEndpointSpec.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/IntegrationFlowDefinition.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/RouterSpec.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/SplitterEndpointSpec.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/SplitterSpec.java
  spring-integration-core/src/main/kotlin/org/springframework/integration/dsl/KotlinIntegrationFlowDefinition.kt
  spring-integration-core/src/main/kotlin/org/springframework/integration/dsl/KotlinSplitterEndpointSpec.kt
  spring-integration-core/src/main/kotlin/org/springframework/integration/dsl/KotlinSplitterSpec.kt
  spring-integration-core/src/test/java/org/springframework/integration/channel/reactive/FluxMessageChannelTests.java
  spring-integration-core/src/test/java/org/springframework/integration/dsl/correlation/CorrelationHandlerTests.java
  spring-integration-core/src/test/java/org/springframework/integration/dsl/flowservices/FlowServiceTests.java
  spring-integration-core/src/test/java/org/springframework/integration/dsl/reactivestreams/ReactiveStreamsTests.java
  spring-integration-core/src/test/java/org/springframework/integration/dsl/routers/RouterTests.java
  spring-integration-core/src/test/java/org/springframework/integration/handler/MethodInvokingMessageProcessorTests.java
  spring-integration-core/src/test/kotlin/org/springframework/integration/dsl/KotlinDslTests.kt
  spring-integration-file/src/test/java/org/springframework/integration/file/dsl/FileTests.java
  spring-integration-kafka/src/test/java/org/springframework/integration/kafka/dsl/KafkaDslTests.java
  src/reference/asciidoc/amqp.adoc
  src/reference/asciidoc/dsl.adoc
  src/reference/asciidoc/kafka.adoc
  src/reference/asciidoc/whats-new.adoc
Labels: type: enhancement, in: dsl

#8669 Fix Groovy DSL for new splitter style
  spring-integration-groovy/src/main/groovy/org/springframework/integration/groovy/dsl/GroovyIntegrationFlowDefinition.groovy
  spring-integration-groovy/src/test/groovy/org/springframework/integration/groovy/dsl/test/GroovyDslTests.groovy
  src/reference/asciidoc/groovy-dsl.adoc
  src/reference/asciidoc/splitter.adoc
  src/reference/asciidoc/zip.adoc
Labels: type: enhancement, in: groovy

#8676 Upgrade to MINA SSHD 2.10.0
  build.gradle
  spring-integration-sftp/src/test/java/org/springframework/integration/sftp/SftpTestSupport.java
  spring-integration-sftp/src/test/java/org/springframework/integration/sftp/session/SftpRemoteFileTemplateTests.java
Labels: type: enhancement, in: sftp

#8688 Connect build to ge.spring.io to benefit from deep build insights and faster builds
  README.md
  settings.gradle
Labels: in: build
