Repository spring-projects/spring-integration, pull requests merged in 2023-03, with the labels that each got.

#8568 Reduce instance supplier use to appease AOT
  spring-integration-core/src/main/java/org/springframework/integration/config/DefaultConfiguringBeanFactoryPostProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/config/IdempotentReceiverAutoProxyCreatorInitializer.java
  spring-integration-core/src/main/java/org/springframework/integration/config/IntegrationComponentScanRegistrar.java
  spring-integration-core/src/main/java/org/springframework/integration/config/IntegrationConfigUtils.java
  spring-integration-core/src/main/java/org/springframework/integration/config/IntegrationConverterInitializer.java
  spring-integration-core/src/main/java/org/springframework/integration/config/IntegrationRegistrar.java
  spring-integration-core/src/main/java/org/springframework/integration/config/MessageHistoryRegistrar.java
  spring-integration-core/src/main/java/org/springframework/integration/config/PublisherRegistrar.java
  spring-integration-core/src/main/java/org/springframework/integration/config/xml/GatewayParser.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/context/DslIntegrationConfigurationInitializer.java
  spring-integration-groovy/src/main/java/org/springframework/integration/groovy/config/GroovyIntegrationConfigurationInitializer.java
  spring-integration-http/src/main/java/org/springframework/integration/http/config/HttpIntegrationConfigurationInitializer.java
  spring-integration-http/src/main/java/org/springframework/integration/http/config/IntegrationGraphControllerRegistrar.java
  spring-integration-jmx/src/main/java/org/springframework/integration/jmx/config/JmxIntegrationConfigurationInitializer.java
  spring-integration-webflux/src/main/java/org/springframework/integration/webflux/config/WebFluxIntegrationConfigurationInitializer.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/config/WebSocketIntegrationConfigurationInitializer.java
  spring-integration-ws/src/main/java/org/springframework/integration/ws/config/WsIntegrationConfigurationInitializer.java
Labels: type: regression, backport 6.0.x

#8570 Some `LockRegistryLeaderInitiator` improvements
  spring-integration-core/src/main/java/org/springframework/integration/support/leader/LockRegistryLeaderInitiator.java
Labels: type: enhancement, in: core, backport 6.0.x

#8572 Add check of RedisLock#getLockedAt when lock is still not acquired
  spring-integration-redis/src/main/java/org/springframework/integration/redis/util/RedisLockRegistry.java
  spring-integration-redis/src/test/java/org/springframework/integration/redis/util/RedisLockRegistryTests.java
Labels: type: bug, in: redis, backport 5.5.x, backport 6.0.x

#8574 Update README.md
  README.md
Labels: type: documentation

#8579 Warn about dropped message in filter
  spring-integration-core/src/main/java/org/springframework/integration/filter/MessageFilter.java
  src/reference/asciidoc/filter.adoc
  src/reference/asciidoc/whats-new.adoc
Labels: type: enhancement, in: core

#8580 Do not block by default
  spring-integration-amqp/src/main/resources/org/springframework/integration/amqp/config/spring-integration-amqp.xsd
  spring-integration-core/src/main/java/org/springframework/integration/annotation/Aggregator.java
  spring-integration-core/src/main/java/org/springframework/integration/annotation/Filter.java
  spring-integration-core/src/main/java/org/springframework/integration/annotation/Gateway.java
  spring-integration-core/src/main/java/org/springframework/integration/annotation/MessagingGateway.java
  spring-integration-core/src/main/java/org/springframework/integration/annotation/Router.java
  spring-integration-core/src/main/java/org/springframework/integration/annotation/ServiceActivator.java
  spring-integration-core/src/main/java/org/springframework/integration/annotation/Splitter.java
  spring-integration-core/src/main/java/org/springframework/integration/annotation/Transformer.java
  spring-integration-core/src/main/java/org/springframework/integration/config/xml/DefaultRouterParser.java
  spring-integration-core/src/main/java/org/springframework/integration/context/IntegrationContextUtils.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/GatewayProxySpec.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/ScatterGatherSpec.java
  spring-integration-core/src/main/java/org/springframework/integration/gateway/GatewayProxyFactoryBean.java
  spring-integration-core/src/main/java/org/springframework/integration/gateway/MessagingGatewaySupport.java
  spring-integration-core/src/main/java/org/springframework/integration/handler/AbstractMessageProducingHandler.java
  spring-integration-core/src/main/java/org/springframework/integration/router/AbstractMessageRouter.java
  spring-integration-core/src/main/java/org/springframework/integration/scattergather/ScatterGatherHandler.java
  spring-integration-core/src/main/java/org/springframework/integration/transformer/ContentEnricher.java
  spring-integration-core/src/main/resources/org/springframework/integration/config/spring-integration.xsd
  spring-integration-core/src/test/java/org/springframework/integration/aggregator/CorrelatingMessageHandlerTests.java
  spring-integration-core/src/test/java/org/springframework/integration/config/ResequencerParserTests.java
  spring-integration-core/src/test/java/org/springframework/integration/config/annotation/AggregatorAnnotationTests.java
  spring-integration-core/src/test/java/org/springframework/integration/config/xml/HeaderEnricherParserTests.java
  spring-integration-core/src/test/java/org/springframework/integration/configuration/EnableIntegrationTests.java
  spring-integration-core/src/test/java/org/springframework/integration/gateway/MessagingGatewayTests.java
  spring-integration-core/src/test/java/org/springframework/integration/handler/AbstractReplyProducingMessageHandlerTests.java
  spring-integration-core/src/test/java/org/springframework/integration/handler/MessageHandlerChainTests.java
  spring-integration-core/src/test/java/org/springframework/integration/router/config/RecipientListRouterParserTests.java
  spring-integration-file/src/main/resources/org/springframework/integration/file/config/spring-integration-file.xsd
  spring-integration-ftp/src/main/resources/org/springframework/integration/ftp/config/spring-integration-ftp.xsd
  spring-integration-http/src/main/resources/org/springframework/integration/http/config/spring-integration-http.xsd
  spring-integration-ip/src/main/resources/org/springframework/integration/ip/config/spring-integration-ip.xsd
  spring-integration-jdbc/src/main/resources/org/springframework/integration/jdbc/config/spring-integration-jdbc.xsd
  spring-integration-jms/src/main/resources/org/springframework/integration/jms/config/spring-integration-jms.xsd
  spring-integration-jpa/src/main/java/org/springframework/integration/jpa/outbound/JpaOutboundGatewayFactoryBean.java
  spring-integration-jpa/src/main/resources/org/springframework/integration/jpa/config/spring-integration-jpa.xsd
  spring-integration-kafka/src/main/resources/org/springframework/integration/kafka/config/spring-integration-kafka.xsd
  spring-integration-mongodb/src/main/java/org/springframework/integration/mongodb/config/MongoDbOutboundGatewayParser.java
  spring-integration-mongodb/src/main/resources/org/springframework/integration/mongodb/config/spring-integration-mongodb.xsd
  spring-integration-mongodb/src/test/java/org/springframework/integration/mongodb/config/MongoDbOutboundGatewayParserTests.java
  spring-integration-redis/src/main/resources/org/springframework/integration/redis/config/spring-integration-redis.xsd
  spring-integration-sftp/src/main/resources/org/springframework/integration/sftp/config/spring-integration-sftp.xsd
  spring-integration-smb/src/main/resources/org/springframework/integration/smb/config/spring-integration-smb.xsd
  spring-integration-webflux/src/main/resources/org/springframework/integration/webflux/config/spring-integration-webflux.xsd
  spring-integration-ws/src/main/resources/org/springframework/integration/ws/config/spring-integration-ws.xsd
  spring-integration-ws/src/test/java/org/springframework/integration/ws/SimpleWebServiceInboundGatewayTests.java
  src/reference/asciidoc/aggregator.adoc
  src/reference/asciidoc/claim-check.adoc
  src/reference/asciidoc/content-enrichment.adoc
  src/reference/asciidoc/gateway.adoc
  src/reference/asciidoc/http.adoc
  src/reference/asciidoc/jdbc.adoc
  src/reference/asciidoc/jpa.adoc
  src/reference/asciidoc/resequencer.adoc
  src/reference/asciidoc/router.adoc
  src/reference/asciidoc/scatter-gather.adoc
  src/reference/asciidoc/whats-new.adoc
Labels: type: enhancement, in: core

#8589 GH-8577: Deprecate ImapIdleCA.sendingTaskExecutor
  spring-integration-mail/src/main/java/org/springframework/integration/mail/ImapIdleChannelAdapter.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/dsl/ImapIdleChannelAdapterSpec.java
  spring-integration-mail/src/main/resources/org/springframework/integration/mail/config/spring-integration-mail.xsd
  spring-integration-mail/src/test/java/org/springframework/integration/mail/config/ImapIdleChannelAdapterParserTests-context.xml
  spring-integration-mail/src/test/java/org/springframework/integration/mail/config/ImapIdleChannelAdapterParserTests.java
  src/reference/asciidoc/mail.adoc
Labels: type: bug, in: mail
