Repository spring-projects/spring-integration, pull requests merged in 2023-09, with the labels that each got.

#8721 Deprecate AbstractChannelMessageStoreQueryProvider
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/AbstractChannelMessageStoreQueryProvider.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/ChannelMessageStoreQueryProvider.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/DerbyChannelMessageStoreQueryProvider.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/H2ChannelMessageStoreQueryProvider.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/HsqlChannelMessageStoreQueryProvider.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/MySqlChannelMessageStoreQueryProvider.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/OracleChannelMessageStoreQueryProvider.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/PostgresChannelMessageStoreQueryProvider.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/SqlServerChannelMessageStoreQueryProvider.java
  src/reference/antora/modules/ROOT/pages/jdbc/message-store.adoc
Labels: type: refactoring, in: jdbc

#8726 Bump Debezium to 2.3.3.Final
  build.gradle
Labels: type: task, in: debezium

#8724 Refactor KafkaMDChA for code duplication
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/inbound/KafkaMessageDrivenChannelAdapter.java
Labels: type: refactoring, in: Kafka

#8727 Update to antora-ui-spring 0.3.6
  antora-playbook.yml
Labels: in: build, type: task

#8723 Fix PostgresSubscribableChannel.notifyUpdate()
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/channel/PostgresSubscribableChannel.java
  spring-integration-jdbc/src/test/java/org/springframework/integration/jdbc/channel/PostgresChannelMessageTableSubscriberTests.java
Labels: type: bug, in: jdbc, backport 6.0.x, backport 6.1.x

#8740 Fix JMS Inbound Endpoints for observation
  build.gradle
  spring-integration-core/src/main/java/org/springframework/integration/dsl/MessageProducerSpec.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/MessagingGatewaySpec.java
  spring-integration-core/src/main/java/org/springframework/integration/gateway/MessagingGatewaySupport.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/ChannelPublishingJmsMessageListener.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/JmsInboundGateway.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/JmsMessageDrivenEndpoint.java
  spring-integration-jms/src/test/java/org/springframework/integration/jms/dsl/JmsTests.java
Labels: type: bug, in: jms, backport 6.0.x, backport 6.1.x

#8737 Fix KV Stores for same message in multiple groups
  spring-integration-core/src/main/java/org/springframework/integration/store/AbstractKeyValueMessageStore.java
  spring-integration-hazelcast/src/main/java/org/springframework/integration/hazelcast/store/HazelcastMessageStore.java
  spring-integration-hazelcast/src/test/java/org/springframework/integration/hazelcast/store/HazelcastMessageStoreTests.java
  spring-integration-mongodb/src/main/java/org/springframework/integration/mongodb/store/ConfigurableMongoDbMessageStore.java
  spring-integration-mongodb/src/main/java/org/springframework/integration/mongodb/store/MongoDbMessageStore.java
  spring-integration-mongodb/src/test/java/org/springframework/integration/mongodb/store/AbstractMongoDbMessageGroupStoreTests.java
  spring-integration-redis/src/test/java/org/springframework/integration/redis/store/RedisMessageGroupStoreTests.java
Labels: type: bug, in: mongodb, in: redis, in: hazelcast
