Repository spring-projects/spring-integration, pull requests merged in 2023-10, with the labels that each got.

#8747 Fix maxMessagesPerPoll for SourcePollingChAdapter
  spring-integration-core/src/main/java/org/springframework/integration/config/AbstractMethodAnnotationPostProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/config/SourcePollingChannelAdapterFactoryBean.java
  spring-integration-core/src/test/java/org/springframework/integration/configuration/EnableIntegrationTests.java
Labels: type: bug, in: core, backport 6.0.x, backport 6.1.x

#8751 Change the default polling trigger to 1 second
  spring-integration-core/src/main/java/org/springframework/integration/endpoint/AbstractPollingEndpoint.java
  spring-integration-core/src/test/java/org/springframework/integration/configuration/EnableIntegrationTests.java
  src/reference/antora/modules/ROOT/pages/channel-adapter.adoc
  src/reference/antora/modules/ROOT/pages/endpoint.adoc
  src/reference/antora/modules/ROOT/pages/whats-new.adoc
Labels: type: enhancement, in: core

#8752 Publish Gradle module artifacts
  .github/release-files-spec.json
  gradle/publish-maven.gradle
Labels: in: build

#8761 Remove request FILENAME header for MPUT
  spring-integration-file/src/main/java/org/springframework/integration/file/remote/gateway/AbstractRemoteFileOutboundGateway.java
  spring-integration-ftp/src/test/java/org/springframework/integration/ftp/outbound/FtpServerOutboundTests.java
Labels: type: enhancement, in: file

#8765 reduce log noise for AbstractCorrelatingMessageHandler
  spring-integration-core/src/main/java/org/springframework/integration/aggregator/AbstractCorrelatingMessageHandler.java
Labels: type: enhancement, in: core, backport 6.0.x, backport 6.1.x

#8766 Streamline UUIDConverter
  spring-integration-core/src/main/java/org/springframework/integration/util/UUIDConverter.java
Labels: in: core, backport 6.0.x, backport 6.1.x

#8767 Deprecate `spring-integration-security` module
  build.gradle
  spring-integration-http/src/test/java/org/springframework/integration/http/dsl/HttpDslTests.java
  spring-integration-security/src/main/java/org/springframework/integration/security/channel/SecurityContextPropagationChannelInterceptor.java
  spring-integration-security/src/test/java/org/springframework/integration/security/SecurityTestUtils.java
  spring-integration-security/src/test/java/org/springframework/integration/security/TestHandler.java
  spring-integration-security/src/test/java/org/springframework/integration/security/channel/ChannelAdapterSecurityIntegrationTests-context.xml
  spring-integration-security/src/test/java/org/springframework/integration/security/channel/ChannelAdapterSecurityIntegrationTests.java
  spring-integration-security/src/test/java/org/springframework/integration/security/channel/ChannelSecurityInterceptorTests.java
  spring-integration-security/src/test/java/org/springframework/integration/security/config/ChannelSecurityAnnotationTests.java
  spring-integration-security/src/test/resources/log4j2-test.xml
  src/reference/antora/modules/ROOT/pages/security.adoc
  src/reference/antora/modules/ROOT/pages/whats-new.adoc
Labels: type: enhancement, in: security
