Repository spring-projects/spring-integration, pull requests merged in 2024-02, with the labels that each got.

#8888 Fix LogMessage formatting placeholders in MqttHeaderMapper.java
  spring-integration-mqtt/src/main/java/org/springframework/integration/mqtt/support/MqttHeaderMapper.java
Labels: type: bug, in: mqtt, for: backport-to-6.1.x, for: backport-to-6.2.x

#8942 MqttProtocolErrorEvent.java: Typo fix occured -> occurred.
  spring-integration-mqtt/src/main/java/org/springframework/integration/mqtt/event/MqttProtocolErrorEvent.java
Labels: in: mqtt, type: documentation

#8971 Upgrade com.gradle.enterprise plugin to 3.16.2
  settings.gradle
Labels: in: build, type: task
