Repository spring-projects/spring-integration, pull requests merged in 2025-08, with the labels that each got.

#10275 Apply Nullability to Debezium module
  spring-integration-debezium/src/main/java/org/springframework/integration/debezium/dsl/package-info.java
  spring-integration-debezium/src/main/java/org/springframework/integration/debezium/inbound/DebeziumMessageProducer.java
  spring-integration-debezium/src/main/java/org/springframework/integration/debezium/inbound/package-info.java
  spring-integration-debezium/src/main/java/org/springframework/integration/debezium/support/package-info.java
Labels: type: enhancement, in: debezium

#10278 Apply Nullability to syslog module
  spring-integration-syslog/src/main/java/org/springframework/integration/syslog/DefaultMessageConverter.java
  spring-integration-syslog/src/main/java/org/springframework/integration/syslog/RFC5424SyslogParser.java
  spring-integration-syslog/src/main/java/org/springframework/integration/syslog/config/SyslogReceivingChannelAdapterFactoryBean.java
  spring-integration-syslog/src/main/java/org/springframework/integration/syslog/config/package-info.java
  spring-integration-syslog/src/main/java/org/springframework/integration/syslog/inbound/TcpSyslogReceivingChannelAdapter.java
  spring-integration-syslog/src/main/java/org/springframework/integration/syslog/inbound/UdpSyslogReceivingChannelAdapter.java
  spring-integration-syslog/src/main/java/org/springframework/integration/syslog/inbound/package-info.java
  spring-integration-syslog/src/main/java/org/springframework/integration/syslog/package-info.java
Labels: type: enhancement, in: syslog

#10289 Make pathFor protected to allow overriding
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/lock/JdbcLockRegistry.java
  spring-integration-jdbc/src/test/java/org/springframework/integration/jdbc/lock/JdbcLockRegistryTests.java
Labels: type: enhancement, in: jdbc

#10290 Fix `PartitionedDispatcher` to use `List` for `partitions`
  spring-integration-core/src/main/java/org/springframework/integration/dispatcher/PartitionedDispatcher.java
Labels: type: enhancement, in: core

#10310 Correct 'Expression' typo
  spring-integration-xml/src/main/java/org/springframework/integration/xml/selector/AbstractXPathMessageSelector.java
  spring-integration-xml/src/main/java/org/springframework/integration/xml/selector/BooleanTestXPathMessageSelector.java
  spring-integration-xml/src/main/java/org/springframework/integration/xml/selector/RegexTestXPathMessageSelector.java
  spring-integration-xml/src/main/java/org/springframework/integration/xml/selector/StringValueTestXPathMessageSelector.java
Labels: type: bug, in: xml

#10307 Fix Kotlin DSL according to IDEA errors and suggestions
  spring-integration-core/src/main/java/org/springframework/integration/dsl/BaseIntegrationFlowDefinition.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/IntegrationFlowDefinition.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/RouterSpec.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/SplitterSpec.java
  spring-integration-core/src/main/java/org/springframework/integration/dsl/TransformerEndpointSpec.java
  spring-integration-core/src/main/kotlin/org/springframework/integration/dsl/KotlinConsumerEndpointSpec.kt
  spring-integration-core/src/main/kotlin/org/springframework/integration/dsl/KotlinIntegrationFlowDefinition.kt
  spring-integration-core/src/main/kotlin/org/springframework/integration/dsl/KotlinRecipientListRouterSpec.kt
  spring-integration-core/src/main/kotlin/org/springframework/integration/dsl/KotlinRouterSpec.kt
  spring-integration-core/src/main/kotlin/org/springframework/integration/dsl/KotlinSplitterSpec.kt
  spring-integration-core/src/main/kotlin/org/springframework/integration/dsl/KotlinTransformerEndpointSpec.kt
Labels: type: enhancement, in: dsl

#10341 GH-10083: Apply Nullability to `core` `store` package
  spring-integration-core/src/main/java/org/springframework/integration/aggregator/AbstractCorrelatingMessageHandler.java
  spring-integration-core/src/main/java/org/springframework/integration/store/AbstractKeyValueMessageStore.java
  spring-integration-core/src/main/java/org/springframework/integration/store/AbstractMessageGroupStore.java
  spring-integration-core/src/main/java/org/springframework/integration/store/BasicMessageGroupStore.java
  spring-integration-core/src/main/java/org/springframework/integration/store/MessageGroup.java
  spring-integration-core/src/main/java/org/springframework/integration/store/MessageGroupFactory.java
  spring-integration-core/src/main/java/org/springframework/integration/store/MessageGroupMetadata.java
  spring-integration-core/src/main/java/org/springframework/integration/store/MessageGroupQueue.java
  spring-integration-core/src/main/java/org/springframework/integration/store/MessageGroupStore.java
  spring-integration-core/src/main/java/org/springframework/integration/store/MessageGroupStoreReaper.java
  spring-integration-core/src/main/java/org/springframework/integration/store/MessageHolder.java
  spring-integration-core/src/main/java/org/springframework/integration/store/MessageMetadata.java
  spring-integration-core/src/main/java/org/springframework/integration/store/MessageStore.java
  spring-integration-core/src/main/java/org/springframework/integration/store/MessageStoreException.java
  spring-integration-core/src/main/java/org/springframework/integration/store/PersistentMessageGroup.java
  spring-integration-core/src/main/java/org/springframework/integration/store/SimpleMessageGroup.java
  spring-integration-core/src/main/java/org/springframework/integration/store/SimpleMessageStore.java
  spring-integration-core/src/main/java/org/springframework/integration/store/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/support/locks/LockRegistry.java
  spring-integration-core/src/main/java/org/springframework/integration/support/locks/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/util/CheckedCallable.java
  spring-integration-core/src/main/java/org/springframework/integration/util/CheckedFunction.java
  spring-integration-core/src/test/java/org/springframework/integration/store/SimpleMessageGroupTests.java
  spring-integration-hazelcast/src/main/java/org/springframework/integration/hazelcast/store/HazelcastMessageStore.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/dsl/JmsInboundGatewaySpec.java
  spring-integration-mongodb/src/main/java/org/springframework/integration/mongodb/store/AbstractConfigurableMongoDbMessageStore.java
  spring-integration-mongodb/src/main/java/org/springframework/integration/mongodb/store/ConfigurableMongoDbMessageStore.java
  spring-integration-mongodb/src/main/java/org/springframework/integration/mongodb/store/MongoDbMessageStore.java
  spring-integration-redis/src/test/java/org/springframework/integration/redis/store/RedisMessageStoreTests.java
Labels: type: enhancement, in: core

#10343 GH-10083: Apply Nullability to core `routingslip`, `scattergather`, `scheduling`, and `selector` packages
  spring-integration-core/src/main/java/org/springframework/integration/routingslip/ExpressionEvaluatingRoutingSlipRouteStrategy.java
  spring-integration-core/src/main/java/org/springframework/integration/routingslip/RoutingSlipRouteStrategy.java
  spring-integration-core/src/main/java/org/springframework/integration/routingslip/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/scattergather/ScatterGatherHandler.java
  spring-integration-core/src/main/java/org/springframework/integration/scattergather/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/scheduling/PollSkipAdvice.java
  spring-integration-core/src/main/java/org/springframework/integration/scheduling/PollerMetadata.java
  spring-integration-core/src/main/java/org/springframework/integration/scheduling/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/selector/MetadataStoreSelector.java
  spring-integration-core/src/main/java/org/springframework/integration/selector/package-info.java
Labels: type: enhancement, in: core

#10346 GH-10345: Replace Spring Retry in the JDBC module
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/channel/PostgresSubscribableChannel.java
  spring-integration-jdbc/src/test/java/org/springframework/integration/jdbc/postgres/PostgresChannelMessageTableSubscriberTests.java
Labels: type: enhancement, in: jdbc

#10347 GH-10083: Apply Nullability to core `history` and `filter` packages
  spring-integration-core/src/main/java/org/springframework/integration/filter/MessageFilter.java
  spring-integration-core/src/main/java/org/springframework/integration/filter/MethodInvokingSelector.java
  spring-integration-core/src/main/java/org/springframework/integration/filter/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/history/HistoryWritingMessagePostProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/history/MessageHistoryConfigurer.java
  spring-integration-core/src/main/java/org/springframework/integration/history/package-info.java
Labels: type: enhancement, in: core

#10361 GH-10345: Migrate AMQP module into Spring Core Retry
  spring-integration-amqp/src/main/java/org/springframework/integration/amqp/dsl/AmqpBaseInboundChannelAdapterSpec.java
  spring-integration-amqp/src/main/java/org/springframework/integration/amqp/dsl/AmqpBaseInboundGatewaySpec.java
  spring-integration-amqp/src/main/java/org/springframework/integration/amqp/inbound/AmqpInboundChannelAdapter.java
  spring-integration-amqp/src/main/java/org/springframework/integration/amqp/inbound/AmqpInboundGateway.java
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/inbound/InboundEndpointTests.java
  spring-integration-core/src/main/java/org/springframework/integration/core/ErrorMessagePublisher.java
  spring-integration-core/src/main/java/org/springframework/integration/core/RecoveryCallback.java
  spring-integration-core/src/main/java/org/springframework/integration/handler/advice/ErrorMessageSendingRecoverer.java
  spring-integration-core/src/main/java/org/springframework/integration/handler/advice/RequestHandlerRetryAdvice.java
  spring-integration-core/src/test/java/org/springframework/integration/config/xml/RetryAdviceParserTests.java
  spring-integration-core/src/test/java/org/springframework/integration/handler/advice/AdvisedMessageHandlerTests.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/KafkaInboundGatewaySpec.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/dsl/KafkaMessageDrivenChannelAdapterSpec.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/inbound/KafkaInboundGateway.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/inbound/KafkaMessageDrivenChannelAdapter.java
  spring-integration-kafka/src/main/resources/org/springframework/integration/kafka/config/spring-integration-kafka.xsd
  spring-integration-kafka/src/test/java/org/springframework/integration/kafka/config/xml/KafkaInboundGatewayTests.java
  spring-integration-kafka/src/test/java/org/springframework/integration/kafka/config/xml/KafkaMessageDrivenChannelAdapterParserTests.java
Labels: type: enhancement, in: amqp
