Repository spring-projects/spring-integration, pull requests merged in 2025-07, with the labels that each got.

#10181 Fix typo in `@author` tag
  spring-integration-amqp/src/main/java/org/springframework/integration/amqp/dsl/AmqpOutboundChannelAdapterSpec.java
  spring-integration-core/src/main/java/org/springframework/integration/aggregator/MethodInvokingMessageGroupProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/aggregator/MethodInvokingReleaseStrategy.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/AbstractSubscribableChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/config/xml/ServiceActivatorParser.java
  spring-integration-core/src/main/java/org/springframework/integration/store/UniqueExpiryCallback.java
  spring-integration-core/src/test/java/org/springframework/integration/aggregator/CorrelatingMessageHandlerTests.java
  spring-integration-core/src/test/java/org/springframework/integration/aggregator/TimeoutCountSequenceSizeReleaseStrategyTests.java
  spring-integration-core/src/test/java/org/springframework/integration/aggregator/scenarios/AggregatorReplyChannelTests.java
  spring-integration-core/src/test/java/org/springframework/integration/filter/FilterAnnotationMethodResolutionTests.java
  spring-integration-core/src/test/java/org/springframework/integration/router/config/SpelRouterIntegrationTests.java
  spring-integration-file/src/test/java/org/springframework/integration/file/locking/FileLockingNamespaceTests.java
  spring-integration-ip/src/main/java/org/springframework/integration/ip/tcp/serializer/AbstractByteArraySerializer.java
  spring-integration-jms/src/test/java/org/springframework/integration/jms/request_reply/RequestReplyScenariosWithNonCachedConsumersTests.java
  spring-integration-jmx/src/main/java/org/springframework/integration/jmx/AttributePollingMessageSource.java
  spring-integration-jmx/src/main/java/org/springframework/integration/jmx/MBeanTreePollingMessageSource.java
  spring-integration-mongodb/src/main/java/org/springframework/integration/mongodb/outbound/ReactiveMongoDbStoringMessageHandler.java
  spring-integration-sftp/src/main/java/org/springframework/integration/sftp/outbound/SftpMessageHandler.java
  spring-integration-xml/src/test/java/org/springframework/integration/xml/transformer/ResultToDocumentTransformerTests.java
Labels: type: task

#10182 Apply JSpecify Nullify to the Channel and AOT packages
  spring-integration-amqp/src/main/java/org/springframework/integration/amqp/channel/PollableAmqpChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/aot/CoreRuntimeHints.java
  spring-integration-core/src/main/java/org/springframework/integration/aot/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/AbstractExecutorChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/AbstractMessageChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/AbstractPollableChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/ChannelPurger.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/DefaultHeaderChannelRegistry.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/DirectChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/ExecutorChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/FixedSubscriberChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/MessagePublishingErrorHandler.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/NullChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/PartitionedChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/PriorityChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/PublishSubscribeChannel.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/endpoint/PollingConsumer.java
  spring-integration-kafka/src/main/java/org/springframework/integration/kafka/channel/PollableKafkaChannel.java
Labels: type: refactoring

#10187 Add JSpecify nullify to channel/interceptor, code, and codec/kryo packages
  spring-integration-core/src/main/java/org/springframework/integration/channel/interceptor/WireTap.java
  spring-integration-core/src/main/java/org/springframework/integration/channel/interceptor/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/codec/CodecMessageConverter.java
  spring-integration-core/src/main/java/org/springframework/integration/codec/CompositeCodec.java
  spring-integration-core/src/main/java/org/springframework/integration/codec/kryo/PojoCodec.java
  spring-integration-core/src/main/java/org/springframework/integration/codec/kryo/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/codec/package-info.java
Labels: in: core, type: refactoring

#10194 Apply Nullability to JMS module
  spring-integration-jms/src/main/java/org/springframework/integration/jms/ChannelPublishingJmsMessageListener.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/DynamicJmsTemplate.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/DynamicJmsTemplateProperties.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/JmsDestinationPollingSource.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/JmsInboundGateway.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/JmsMessageDrivenEndpoint.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/JmsOutboundGateway.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/JmsSendingMessageHandler.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/PollableJmsChannel.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/SubscribableJmsChannel.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/config/JmsChannelFactoryBean.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/config/JmsChannelParser.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/config/package-info.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/dsl/Jms.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/dsl/JmsDestinationAccessorSpec.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/dsl/JmsPollableMessageChannelSpec.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/dsl/package-info.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/package-info.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/support/JmsMessageHeaderErrorMessageStrategy.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/support/package-info.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/util/JmsAdapterUtils.java
  spring-integration-jms/src/main/java/org/springframework/integration/jms/util/package-info.java
Labels: type: refactoring, in: jms

#10193 GH-10058: Add Jackson 3 (de)serializer support
  spring-integration-core/src/main/java/org/springframework/integration/support/json/AdviceMessageJsonDeserializer.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/ErrorMessageJsonDeserializer.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/GenericMessageJsonDeserializer.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/JacksonMessagingUtils.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/MessageHeadersJsonSerializer.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/MessageJsonDeserializer.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/MimeTypeJsonSerializer.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/MutableMessageJsonDeserializer.java
  spring-integration-core/src/test/java/org/springframework/integration/support/json/JacksonMessagingUtilsTests.java
  src/checkstyle/checkstyle.xml
Labels: type: enhancement, in: core

#10195 Apply Nullability to `spring-integration-websocket` module
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/ClientWebSocketContainer.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/IntegrationWebSocketContainer.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/ServerWebSocketContainer.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/config/IntegrationServletWebSocketHandlerRegistry.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/config/WebSocketIntegrationConfigurationInitializer.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/config/package-info.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/event/package-info.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/inbound/WebSocketInboundChannelAdapter.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/inbound/package-info.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/outbound/WebSocketOutboundMessageHandler.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/outbound/package-info.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/package-info.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/support/PassThruSubProtocolHandler.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/support/SubProtocolHandlerRegistry.java
  spring-integration-websocket/src/main/java/org/springframework/integration/websocket/support/package-info.java
  spring-integration-websocket/src/test/java/org/springframework/integration/websocket/config/WebSocketParserTests.java
Labels: type: refactoring, in: websocket

#10205 Apply Nullability to JDBC module
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/BeanPropertySqlParameterSourceFactory.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/ExpressionEvaluatingSqlParameterSourceFactory.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/JdbcMessageHandler.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/JdbcOutboundGateway.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/JdbcPollingChannelAdapter.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/StoredProcExecutor.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/StoredProcMessageHandler.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/StoredProcOutboundGateway.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/StoredProcPollingChannelAdapter.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/aot/JdbcRuntimeHints.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/aot/package-info.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/channel/PostgresChannelMessageTableSubscriber.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/channel/PostgresSubscribableChannel.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/channel/package-info.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/config/JdbcTypesEnum.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/config/package-info.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/dsl/Jdbc.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/dsl/JdbcOutboundGatewaySpec.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/dsl/package-info.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/lock/DefaultLockRepository.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/lock/JdbcLockRegistry.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/lock/package-info.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/metadata/JdbcMetadataStore.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/metadata/package-info.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/package-info.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/JdbcChannelMessageStore.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/JdbcMessageStore.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/ChannelMessageStorePreparedStatementSetter.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/MessageRowMapper.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/channel/package-info.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/store/package-info.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/storedproc/ProcedureParameter.java
  spring-integration-jdbc/src/main/java/org/springframework/integration/jdbc/storedproc/package-info.java
  spring-integration-jdbc/src/test/java/org/springframework/integration/jdbc/JdbcOutboundGatewayTests.java
Labels: type: enhancement, in: jdbc

#10252 using `RabbitTestContainer` for `AmqpMessageSourceIntegrationTests`
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/inbound/AmqpMessageSourceIntegrationTests.java
Labels: type: refactoring, in: amqp

#10259 Use `RabbitTestContainer` for AMQP integration tests
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/channel/ChannelTests-context.xml
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/channel/ChannelTests.java
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/config/OutboundGatewayIntegrationTests-context.xml
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/config/OutboundGatewayIntegrationTests.java
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/dsl/AmqpTests.java
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/inbound/ManualAckTests.java
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/outbound/AmqpOutboundEndpointTests-context.xml
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/outbound/AmqpOutboundEndpointTests.java
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/outbound/AmqpOutboundEndpointTests2.java
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/outbound/AsyncAmqpGatewayTests.java
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/support/BoundRabbitChannelAdviceIntegrationTests.java
  spring-integration-amqp/src/test/java/org/springframework/integration/amqp/support/JsonConverterCompatibilityTests.java
Labels: type: enhancement, in: amqp

#10272 GH-10083: Apply Nullability to core dispatcher package
  spring-integration-core/src/main/java/org/springframework/integration/dispatcher/AbstractDispatcher.java
  spring-integration-core/src/main/java/org/springframework/integration/dispatcher/AggregateMessageDeliveryException.java
  spring-integration-core/src/main/java/org/springframework/integration/dispatcher/BroadcastingDispatcher.java
  spring-integration-core/src/main/java/org/springframework/integration/dispatcher/PartitionedDispatcher.java
  spring-integration-core/src/main/java/org/springframework/integration/dispatcher/UnicastingDispatcher.java
  spring-integration-core/src/main/java/org/springframework/integration/dispatcher/package-info.java
Labels: type: enhancement, in: core
