Repository spring-projects/spring-integration, pull requests merged in 2025-06, with the labels that each got.

#10080 Disable multicast tests when buiding on MacOS
  spring-integration-ip/src/test/java/org/springframework/integration/ip/udp/DatagramPacketMulticastSendingHandlerTests.java
  spring-integration-ip/src/test/java/org/springframework/integration/ip/udp/UdpChannelAdapterTests.java
Labels: type: task

#10092 GH-10083: Replace springframework Nullable with jspecify Nullable in spring-integration-camel
  spring-integration-camel/src/main/java/org/springframework/integration/camel/dsl/Camel.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/dsl/CamelMessageHandlerSpec.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/dsl/package-info.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/outbound/CamelMessageHandler.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/outbound/package-info.java
  spring-integration-camel/src/main/java/org/springframework/integration/camel/support/package-info.java
Labels: type: task

#10091 GH-10083: Migrate ZeroMQ module to Jspecify
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/ZeroMqProxy.java
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/channel/ZeroMqChannel.java
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/channel/package-info.java
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/dsl/package-info.java
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/inbound/ZeroMqMessageProducer.java
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/inbound/package-info.java
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/outbound/ZeroMqMessageHandler.java
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/outbound/package-info.java
  spring-integration-zeromq/src/main/java/org/springframework/integration/zeromq/package-info.java
Labels: type: task

#10096 GH-10083: Apply Nullability to `spring-integration-mail`
  spring-integration-mail/src/main/java/org/springframework/integration/mail/AbstractMailReceiver.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/ImapIdleChannelAdapter.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/ImapMailReceiver.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/MailReceiver.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/MailReceivingMessageSource.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/MailSendingMessageHandler.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/MailTransportUtils.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/Pop3MailReceiver.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/SearchTermStrategy.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/config/MailReceiverFactoryBean.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/config/package-info.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/dsl/Mail.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/dsl/MailSendingMessageHandlerSpec.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/dsl/package-info.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/event/package-info.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/package-info.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/support/package-info.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/transformer/AbstractMailMessageTransformer.java
  spring-integration-mail/src/main/java/org/springframework/integration/mail/transformer/package-info.java
Labels: type: refactoring, in: mail

#10107 gh-10083: Scope: spring-integration-cassandra; Replace springframework Nullable with jspecify Nullable
  spring-integration-cassandra/src/main/java/org/springframework/integration/cassandra/config/xml/package-info.java
  spring-integration-cassandra/src/main/java/org/springframework/integration/cassandra/dsl/package-info.java
  spring-integration-cassandra/src/main/java/org/springframework/integration/cassandra/outbound/CassandraMessageHandler.java
  spring-integration-cassandra/src/main/java/org/springframework/integration/cassandra/outbound/package-info.java
Labels: type: refactoring, in: cassandra

#10168 Apply jspecify nullify to spring-integration-core aop/annotation packages
  spring-integration-core/src/main/java/org/springframework/integration/annotation/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/aop/CompoundTriggerAdvice.java
  spring-integration-core/src/main/java/org/springframework/integration/aop/MessagePublishingInterceptor.java
  spring-integration-core/src/main/java/org/springframework/integration/aop/MethodAnnotationPublisherMetadataSource.java
  spring-integration-core/src/main/java/org/springframework/integration/aop/MethodNameMappingPublisherMetadataSource.java
  spring-integration-core/src/main/java/org/springframework/integration/aop/PublisherAnnotationAdvisor.java
  spring-integration-core/src/main/java/org/springframework/integration/aop/PublisherAnnotationBeanPostProcessor.java
  spring-integration-core/src/main/java/org/springframework/integration/aop/PublisherMetadataSource.java
  spring-integration-core/src/main/java/org/springframework/integration/aop/SimpleActiveIdleReceiveMessageAdvice.java
  spring-integration-core/src/main/java/org/springframework/integration/aop/SimplePublisherMetadataSource.java
  spring-integration-core/src/main/java/org/springframework/integration/aop/package-info.java
  spring-integration-core/src/main/java/org/springframework/integration/support/converter/ConfigurableCompositeMessageConverter.java
Labels: type: enhancement, in: core

#10160 GH-10058: Add Jackson 3 ObjectMapper and MessageParser
  spring-integration-core/src/main/java/org/springframework/integration/support/json/JacksonJsonMessageParser.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/JacksonJsonObjectMapper.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/JacksonPresent.java
  spring-integration-core/src/main/java/org/springframework/integration/support/json/JsonObjectMapperProvider.java
  spring-integration-core/src/test/java/org/springframework/integration/support/json/JacksonJsonObjectMapperTests.java
Labels: type: enhancement, in: core
